* {
  font-family: sans-serif;
}

body {
  background-image: url(../images/pattern.jpg);
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.profile-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.my-name {
  font-size: 26px;
  text-align: center;
}

.my-pic {
  width: 130px;
  margin: 0 auto 15px;
  border-radius: 50%;
  display: block;
  box-shadow: 0 0 0 4px #f3f3f3, 0 0 0 7px #eca738;
  -moz-box-shadow: 0 0 0 4px #f3f3f3, 0 0 0 7px #eca738;
  -webkit-box-shadow: 0 0 0 4px #f3f3f3, 0 0 0 7px #eca738;

}

.social-links{
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.social-links li{
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.social-links img{
  max-width: 20px;
  height: 20px;
}