* {
  font-family: sans-serif;
}

body {
  background-image: url(../images/pattern.jpg);
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.profile-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
figure {
  margin: 0;
}
.my-name {
  font-size: 26px;
  text-align: center;
  margin-bottom: 8px;
}
.job-title{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}

.my-pic {
  width: 130px;
  margin: 0 auto 15px;
  border-radius: 50%;
  display: block;
  box-shadow: 0 0 0 2px #ffc870;
  -moz-box-shadow: 0 0 0 2px #ffc870;
  -webkit-box-shadow: 0 0 0 2px #ffc870;

}

.social-links{
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.social-links li{
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.social-links img{
  max-width: 20px;
  height: 20px;
}

.codewars-badge{
  display: block;
  text-align: center;
  margin-top: 5px;
}
img{
  max-width: 100%;
}